#text-main {
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  height: 30%;
  margin-top: -15%;
  margin-left: -25%;
}

#text-main p {
  font-family: "Comic Sans MS", cursive;
}

#vision-img {
  background-image: url(../image/vision-img1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rows {
  height: 33.333333333333333333%;
}
.cols-hot {
  width: 19vw;
  height: auto;
  /* float: right;
  height: 100%; */
  margin: 1vw 1vw;
  display: inline-block;
}
.mywrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

@media only screen and (max-width: 991.98px) {
  #text-main {
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 50%;
    width: 70%;
    height: 30%;
    margin-top: -35%;
    margin-left: -35%;
  }
  .cols-hot {
    width: 33vw;
  }
}

@media only screen and (max-width: 575.98px) {
  #text-main {
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 30%;
    width: 90%;
    height: 50%;
    margin-top: -45%;
    margin-left: -25%;
  }

  .cols-hot {
    width: 44vw;
  }
}
